* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.v1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.7;
  object-fit: cover;
}

.container {
  margin: 7vmin;
  background-color: rgba(121, 118, 118, 0.836);
  border: 2px solid lightgray;
  border-radius: 5%;
  width: 70vmin;
  height: 85vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.board {
  width: 55vmin;
  height: 55vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: 28%;
  height: 28%;
  border: 2px solid lightgray;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14vmin;
  cursor: pointer;
}

.players {
  width: 55vmin;
  height: 10vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pl {
  border: 2px solid lightgray;
  border-radius: 10px 10px;
  height: 7vmin;
  width: 20vmin;
  background-color: rgb(206, 203, 203);
}

#icon-skull {
  scale: 1.9;
}

.bottom {
  height: 10vmin;
  width: 55vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-button {
  background-color: azure;
  border: 2px solid lightgray;
  border-radius: 5%;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide {
  display: none;
}

#massage {
  font-size: 2rem;
  font-family: 'Alice', cursive;
  position: absolute;
  top: 1vmin;
}